



.feeds-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    background: #f7f8fb;
    top: 0;
    bottom: 36px;
    overflow: auto;
    padding: 20px;
}

.feeds-wrapper::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.feed-detail {
    margin: 2rem;
    background: #f7f8fb;
    padding: 1rem;
    border-radius: 4px;
}

.feed-detail .summary-cont{
    display: flex;
    color: #8e6eb2;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 10px 0px;
}

.feed-detail .img-holders{
    margin-top: 20px;
}

.feed-detail .img-holders img{
    margin-bottom: 1px;
    background-size: cover;
    height: 100%;
}

.feed-detail .credits{
    text-align: right;
    color: #8e6eb2;
    padding-top: 10px;
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16 {
    width: 80%;
}