.location-pointer {
    color: #bd4949;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
}

.outer-circle {
    background: #bfd4fbcf;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
}


.inner-circle {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    background: #4285f4;
    border-radius: 100%;
    position: relative;
    left: 22%;
    top: 25%;
}


.reposition-but {
    position: fixed !important;
    z-index: 9999;
    background: white !important;
    color: #666666 !important;
    min-width: 0px !important;
    padding: 5px;
    right: 10px;
    bottom: 150px;
}

.reposition-but:hover {
    color: #4285f4 !important;
}

.badge-unique {
    color: #ffffffcf;
    background-color: #4e27248c;
    top: 0;
    right: 0;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
    height: 20px;
    display: flex;
    padding: 0 6px;
    z-index: 1;
    position: absolute;
    flex-wrap: wrap;
    font-size: 0.75rem;
    min-width: 20px;
    box-sizing: border-box;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1;
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
}

.gm-fullscreen-control {
    display: none;
}
