._navbar {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    /* background-color: #f7f8fb !important; */
    box-shadow:0 3px 14px 2px rgba(0,0,0,.12);
}

_navitem {
    font-family: 'UberMove', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif !important;
}
