._button {
    width: 200px !important;
    float: right;
}

._stepper-wrapper {
    height: calc(86vh - 16px);
    margin: 32px 16px 16px;
    position: relative;
    top: 0;
}

.stepper-cont{
    padding: 20px 10px 0px;
}


.form-space {
    padding: 20px 0px 0px;
}

.gender {
    font-size: 14px;
    color: #6e6e6e;
}


.justify-end {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
}

._label {
    font-size: 16px;
    color: #78767b;
}



._divider {
    margin-top: -19px;
    margin-bottom: 20px;
}


.custom-dropdown-style  {
    position: absolute;
    z-index: 9999;
    background: white;
    width: 100%;
    border: 1px solid #ced4da;
    border-top: none;
}

.custom-dropdown-item {
    padding: 7px;
}

.custom-dropdown-item:hover {
    background: #f3f3f3;
}

/* For Form */

.form-container{
    padding: 0 24px;
}

.btn-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem; 
}

.patient-symptom {
    resize: none;
}

.patient-symptom:hover, .patient-symptom:focus{
    border-color: #9E7CC1 !important;
    box-shadow: unset;
}
