body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: #f9f7ff;*/
  font-family: 'Titillium Web', sans-serif;

}


button:focus {outline:0;}


a {
  text-decoration: none !important;
}

a, u {
  text-decoration: none;
}
